*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background: rgb(6, 83, 132);
}

header{
    
    margin: 10px 20px;
}
.name{
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
}

.name h1{
    font-size: 50px;
}

.name p{
    display: flex;
    align-items: flex-end;
    font-size: 40px;
}

.carousel{
    
    position: relative;
    height: 120vh;
    padding: 10px 20px;
    margin: 10px 30px;
   
}
.carousel_button{
    position: absolute;
    top:50%;
    z-index: 2;
    background: none;
    border: none;
    font-size:3rem;
    color: rgba(255,255,255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
    
}
.carousel_button:hover,
.carousel_button:focus{
    color: white;
    background-color: rgba(0, 0, 0, .6); ;
}

.carousel_button:focus{
    outline: 1px solid black;
}

.carousel_button.next{
    
   right: 4rem;
}
.carousel_button.prev{
    left: 3rem;
}

.pic{
    position: absolute;
    inset: 0;
    opacity: 0;
    top: 1rem;
    left: 1rem;
    bottom: 40px; 
       
}

   

.pic[data-active]{
    height: 96%;
    opacity: 1;
    
}

section{
    
    position: relative;
    height: 70vh;
    
    margin: 10px 30px;
    

}

.about-me{
   position: absolute;
   width: 65vw;
   height: 60vh;
   margin:10px 30px;
   
}
.about-me h1{
    position: absolute;
    left: 10%;
    top: 5%;
    font-size: 50px;

   
}
.about-me p{
   
    position:  absolute;
    right: 1rem;
    top: 40%;
    font-size: 25px;
    letter-spacing: 1px;
    
}
.profile{
    position: absolute;
    right: 2rem;
    top: 5%;

}
.profile img{
    width: 400px;

}

.interest{
    position: relative;
   
    height: 40vw;
    margin: 10px 30px;
    
    
}
.interest h1{
   position: absolute;
   top: 30%;
   left: 3rem;

}
.first{
    position: absolute;
    top: 2rem;
    left: 35%

}
.second{
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.first  img{
    width: 400px;
    height: 350px;
}

.second img{
    width: 500px;
    height: 350px;

}

.qoutes{
    position: relative;
    height: 40vw;
   
    margin: 10px 25px;
}
.qoutes h1{
    position: absolute;
    font-size: 50px;
    left: 20%;
    top: 10%;
}
.address{
    position: absolute;
    top: 80%;
    left: 60%;

}

.my-picture img{
    position: absolute;
    right: 2rem;
    top: 2rem;
}

.my-picture img{
    width: 400px;

}

.contacts{
   position: relative;
   height: 60vw;
   
   margin: 10px 30px;

}

.my-contacts h1{
    position: absolute;
    left: 2rem;
    font-size: 50px;
    top: 3rem;
}


.last{
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.last img{
    
    width: 600px;
}

.Fullname{
    position: absolute;
    bottom: 45%;
    right: 34%;
    font-size: 30px;

}
.email-address{
    position: absolute;
    bottom: 33%;
    right: 24%;
    font-size: 30px;
}
.contact-no{
    position: absolute;
    bottom: 22%;
    right: 32%;
    font-size: 30px;
}